:root {
  --hero-footer-bg: #1f2937;
  --hero-main-text-size: 4.8rem;
  --hero-main-text-weight: 900;
  --hero-main-text-color: #f9faf8;
  --hero-sub-text-size: 1.8rem;
  --hero-sub-text-color: #e6e7eb;
  --header-logo-text-size: 2.4rem;
  --header-logo-text-color: #f9faf8;
  --button-color: #3882f6;
  --info-header-text-size: 3.6rem;
  --info-header-text-weight: 900;
  --info-header-text-color: #1f2937;
  --quote-bg: #e5e7eb;
  --quote-text-size: 3.6rem;
  --quote-text-weight: 300;
  --quote-text-style: italic;
  --quote-text-color: #1f2937;

  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  min-width: fit-content;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: calc(100% - 70px);
}

a {
  text-decoration: none;
  color: var(--hero-main-text-color);
}

a:hover {
  color: var(--button-color);
}

button {
  background-color: var(--button-color);
  color: var(--hero-main-text-color);
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: bold;
  font-size: var(--hero-sub-text-size);
  cursor: pointer;
  width: fit-content;
}

button:hover {
  background-color: var(--hero-main-text-color);
  color: var(--button-color);
}

.contact button {
  border: 2px solid white;
}

.contact button:hover {
  border: 2px solid var(--button-color);
}

.container {
  width: 960px;
  margin: auto;
  padding: 0 2rem;
}

/* Hero */

.hero {
  background-color: var(--hero-footer-bg);
  color: var(--hero-main-text-color);
  padding-bottom: 100px;
}

nav {
  background-color: var(--hero-footer-bg);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: flex-end;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: var(--header-logo-text-size);
  font-weight: var(--hero-main-text-weight);
  color: var(--header-logo-text-color);
}

.nav-links ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links {
  font-size: var(--hero-sub-text-size);
  color: var(--hero-sub-text-color);
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9rem;
  gap: 5rem;
}

.hero-content h1 {
  font-size: var(--hero-main-text-size);
  font-weight: var(--hero-main-text-weight);
  color: var(--hero-main-text-color);
}

.hero-content p {
  flex-basis: 45rem;
  font-size: var(--hero-sub-text-size);
  color: var(--hero-sub-text-color);
  margin-bottom: 1rem;
}

.information {
  flex: 1;
  display: flex;
}

.information .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 10rem 0;
  gap: 3rem;
}

.information .container h2 {
  font-size: var(--info-header-text-size);
  font-weight: var(--info-header-text-weight);
  color: var(--info-header-text-color);
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
  width: 17rem;
  font-size: var(--hero-sub-text-size);
  }

  .card img {
    border: 5px solid var(--button-color);
    border-radius: 10%;
  }

.quote {
  flex: 1;
  display: flex;
  background-color: var(--quote-bg);
  padding: 3rem;
}

.quote-content {
  margin: 7rem;
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: var(--quote-text-size);
  font-weight: var(--quote-text-weight);
  color: var(--quote-text-color);
  font-style: var(--quote-text-style);
}

.quote-author {
  align-self: flex-end;
  padding-right: 5rem;
  font-size: var(--header-logo-text-size);
  font-weight: var(--hero-main-text-weight);
  color: var(--info-header-text-color);
}

.contact {
  padding: 5rem;
}

.call {
  background-color: var(--button-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10rem;
  border-radius: 1rem;
}

.call p {
  font-size: var(--hero-sub-text-size);
  color: var(--hero-main-text-color);
}

.call p:first-of-type {
  font-size: var(--header-logo-text-size);
  font-weight: bold;
}

footer{
  background: var(--hero-footer-bg);
  color: var(--hero-sub-text-color);
}

footer .container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.fa {
  padding: 1rem;
  font-size: 4px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
}

.fa-github,
.fa-github-square {
  background: #6e5494;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-linkedin {
  background: #007bb5;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fab:hover {
  transform: scale(1.1);
}
